button.btn.btn-primary.dropdown-toggle {
    border-radius: 0px;
    background-color: white;
    color: black;
}
.normal {
    font-weight: normal;
    font-size: 100%;
}

.form-search {
	width: 400px;
	padding: 20px;
	padding-bottom: 40px;
}

.margin-top {
	padding-bottom: 30px;
}

hr{
	width: 100%;
}


.background-nav {
    background-color: #0000ff;
    color: white;

}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}